@media screen and (max-height: 700px){
  .middle{
    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  .middle.btn_active{
    height: calc(100vh - (269px + 50px));
  }
  
}