/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

html, body{
  padding: 0;
  margin: 0;
}

.home{
  width: auto;
  background-image: url(../images/photographer-1867417.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}

:root{
  --font-size : clamp(14px, 3vw, 17px);
  --font-family: 'Rubik', sans-serif;

}

a{
  text-decoration: none;
  color: rgb(204, 204, 204);
}

/* HEADER */

.container_navbar{
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 15px * 2);
  padding: 20px 15px 0px 15px;
}

.container_menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container_menu > ul > li{
  
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-size);
  margin: 11px 0px 13px 0px;
  letter-spacing: 1px;
}

.menuList{
  display: none;
  text-align: right;
  margin: 4px 0px 16px 0px;
}

.menuIcon{
  width: clamp(25px, 3vw, 34px);
}

.iconReseau{
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  
}

.iconReseau > a > img{
  width: clamp(20px, 3vw, 26px)
}

.active{
  font-weight: 600;
  color: white;
  
}

.logo{
  width: clamp(45px, 6vw, 70px);
}

/* PRESENTATION HOME */

.middle{ 
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - (69px + 50px));
  gap: 25px;
  
}



.middle > div {
  display: flex;
  justify-content: center;
}

.middle > div > h1{
  color: white;
}

.middle > div > p{
  color: white;
}

.middle > div > h2{
  color: white;
}

.middle div:nth-child(2){
  flex-direction: column;
  align-items: center ;
}

/* FOOTER */

footer{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

footer > div > p{
  color: white;
}